    <header>
        <h1>Zoe Potts' Zany Plant &#9825; WEB215</h1>
        <nav>
            <ul>
                <li>
                    <a href="index.html">Home</a>
                    <a href="introduction.html">Introduction</a>
                    <a href="contract.html">Contract</a>
                    <a href="brand.html">Brand</a>
                    <a href="https://mern-tutorial-frontend-52v3.onrender.com/">MERN Tutorial</a>
                </li>
            </ul>
        </nav>
    </header>