body {
    background-color: rgb(173, 202, 230);
    background-image: radial-gradient(circle, rgba(168, 193, 236, 0.932), rgba(129, 182, 248, 0.712), rgba(37, 134, 245, 0.76));
    font-family: Optima, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
}
header {
    text-align: center;
    margin-top: 10px;
}
hr {
    border: 3px solid rgba(0, 0, 0, 0.567);
}
h1 {
    max-width: 4000px;
}
h2 {
    text-align: center;
}
figcaption {
    font-style: italic;
    margin-left: 20px;
}
figure {
    width: 100%;
    max-width: 500px;
    object-fit: cover;
    vertical-align: middle;
}
.flex {
    margin: auto;
    margin: 10px;
    padding: 0 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}
main p {
    background-color: rgba(214, 246, 246, 0.567);
    padding: 15px;
    max-width: 500px;
    min-width: 300px;
    flex: 1;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
footer {
    text-align: center;
}
